APP_NAME=VandanaSachin
DATA_SOURCE=demo
ADVANCED_ENGINE=off
MIN_TRADE_PLANS=5
ENABLE_LIVE_ORDERS=0
REQUIRE_HUMAN_CONFIRM=1
MIN_RR=1.5
MAX_RISK_PER_TRADE=0.01
MAX_TOTAL_RISK=0.05
AI_ENABLED=0
PUTER_AUTH_TOKEN=
MAX_TICK_AGE_SEC=5
MAX_SNAPSHOT_AGE_SEC=15
RATE_LIMIT_RPS=1
MCP_ENABLED=0
MCP_CONFIG_PATH=config/mcp_servers.json
ANGEL_API_KEY=
ANGEL_CLIENT_ID=
ANGEL_PIN=
ANGEL_TOTP_SECRET=
ANGEL_REFRESH_TOKEN=
