{$API_DOMAIN} {
    encode zstd gzip

    reverse_proxy /ws vandana2-api:8000
    reverse_proxy /* vandana2-api:8000

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
    }
}
